.calories-container {
  position: relative;
  width: 100%;
  height: calc(var(--vh, 1vh) * 40);

  &:focus {
    outline: none;
    border: none;
  }
}

.calories-chart-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.calories-chart-outer {
  z-index: 0;
}

.chartjs-render-monitor {
  position: relative;
  z-index: 1;
}
