// Colors
$color1: #fff;
$color2: #fff;
$color3: #fff;
$color4: #fff;
$color5: #fff;
$color6: #fff;

// Breakpoints
// $tablet: 414px;
$tablet: 768px;
$desktop: 1280px;
$l-desktop: 1920px;
$xl-desktop: 3840px;

// Sizes
$vh: var(--vh, 1vh);
$m-distance: var(--m-distance);
$input-height: var(--input-height);
$sm-distance: var(--sm-distance);
$l-distance: var(--l-distance);
$xl-distance: var(--xl-distance);

// Root font-size
$min-font-size: 16px;
$max-font-size: 18px;
$scaler: #{$vh} * 2.5;
$root-font-size: clamp($min-font-size, #{$scaler}, $max-font-size);

// Typography
$xl-text: 10rem;
$l-text: 1.6rem;
$m-text: 1rem;
$sm-text: 0.8rem;
$l-line-height: $l-text * 1.5;
$m-line-height: $m-text * 1.5;
$sm-line-height: $sm-text * 1.5;
