.app-description {
  font-size: $m-text * 1.2;
  line-height: $m-line-height;
  margin-block-end: $m-distance;

  em {
    font-weight: 700;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
