.macros-container {
  max-height: calc(var(--vh, 1vh) * 30);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  flex: 1;
}
