.add-eaten-food {
  &-cards {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-search {
    width: 100%;
    height: $input-height;
    border: 1px solid black;
    border-radius: 0;
    margin-block-end: $sm-distance;
    padding: $sm-distance;
    font-size: $sm-text;

    &:focus {
      border: 1px solid green;
    }
  }
}

.options-container {
  width: 100%;
}

.show-only-foods-created-by-me-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.show-only-foods-created-by-me-checkbox {
  width: $m-distance;
  height: $m-distance;
  margin: 0 $sm-distance 0 0;
  // outline: 1px solid green;
  outline-offset: -1px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    width: var(--l-distance);
    height: var(--l-distance);
    margin: 0 1rem 0 0;
  }
}

.show-only-foods-created-by-me-label {
  font-size: $sm-text;
  vertical-align: middle;
}
