.settings-menu {
  position: absolute;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: calc(#{$vh} * 85);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  transform-origin: top;
  transition: transform 0.3s;

  /* This fires as soon as the element enters the DOM */
  &-enter,
  &-appear {
    transform: scaleY(0);
  }

  /* This is where we can add the transition */
  &-enter-done,
  &-appear-done {
    transform: scaleY(1);
  }

  /* fires as element leaves the DOM */
  &-exit-active {
    transform: scaleY(0);
  }

  &-header {
    width: 100%;
    height: calc(#{$vh} * 14);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &-title {
    margin-inline-end: $sm-distance;
    font-size: $l-text;
    font-weight: 700;

    @media (min-width: $tablet) {
      font-size: $l-text * 1.5;
    }

    @media (min-width: $desktop) {
      font-size: $l-text;
    }

    @media (min-width: $l-desktop) {
      font-size: $l-text * 1.5;
    }

    @media (min-width: $xl-desktop) {
      font-size: $l-text * 3;
    }
  }

  &-logout-button {
    width: $input-height;
    height: $input-height;
    border: none;
    background-color: white;
    background-image: url(/images/logout.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
  }

  &-nav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    cursor: pointer;
  }

  &-nav-link {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $m-text;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    @media (min-width: $tablet) {
      font-size: $l-text;
    }

    @media (min-width: $desktop) {
      font-size: $m-text;
    }

    @media (min-width: $l-desktop) {
      font-size: $l-text;
    }

    @media (min-width: $xl-desktop) {
      font-size: $l-text * 2;
    }
  }
}
